PYTHONPATH=${PYTHONPATH}:${PWD}
export RHSM_SERVICES_URL=
export SUBSCRIPTION_USER_NAME=
export SUBSCRIPTION_PASSWORD=
export SUBSCRIPTION_ORG_ID=
export SUBSCRIPTION_ACTIVATION_KEY_WITH_PARTIAL_SUBSCRIPTION=
export SUBSCRIPTION_PROXY_HOSTNAME=
export SUBSCRIPTION_PROXY_PORT=
export SUBSCRIPTION_PROXY_USER=
export SUBSCRIPTION_PROXY_PASSWORD=
export RHSM_STAGE_CANDLEPIN_URL=
export RHSM_TEST_CANDLEPIN_URL=
